body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
    background-image: url("./img/dieta.webp");
    background-size: 100%;
    max-width: 960px;
    margin: auto;
}
.container {
    border: 1px solid black;
    display: grid;
    padding: 10px;
    background-color: white;
    text-align: center;
    grid-template:
    'topo topo topo'
    'listadietas infodieta infodieta'
    'navbutton navbutton navbutton';
    
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
.topo {
    border: 1px solid black;
    grid-area: topo;
    padding: 10px;
}
.listadietas {
    border: 1px solid black;
    grid-area: listadietas;
    padding: 15px;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    /* max-width: 300px; */
    max-height: 26rem;
    overflow: scroll;
}
.infodieta {
    border: 1px solid black;
    grid-area: infodieta;
    padding: 10px;
    max-height: 26rem;
    overflow: scroll;
}
.header {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
.headerdieta {
    border: 1px solid black;
    padding: 5px;
    /* display: flex; */
    text-align: left;
    align-content: left;
    /* flex-direction: row; */
}
.navbutton {
    border: 1px solid black;
    grid-area: navbutton;
    padding: 15px;
}
.dieta {
    /* border: 1px solid black; */
    background-color: gainsboro;
    height: 70px;
    padding: 10px;
    text-align: left;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
}