body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    max-width: 960px;
    margin: auto;
    margin-top: 8rem;
    background-image: url("./img/gigachad.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    border: 1px solid black;
    background-color: white;
    opacity: 70%;
    /* display: grid; */
    padding: 15px;
    text-align: center;
    /* grid-template:
    'topo'
    'barra'
    'usuario'
    'infousuario' 
    'rotina'
    'dieta'; */
}

.topo {
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    opacity: 100%;
    margin: 4px;
    /* grid-area: topo; */
}

article {
    /* border: 1px solid black; */
    padding: 3rem;
    margin: 4px;
}

article > h2 {
    font-size: 3.5rem;
}

.btn {
    font-size: 1.5rem;
}

footer {
    border: 1px solid black;
    padding: 10px;
    margin: 4px;
}

img {
    /* border: 1px solid black; */
    /* height: auto; 
    max-width: 60%; */
}
