<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
    <head th:include="layout :: head"></head>

    <body>
        <nav th:replace="layout :: menu"></nav>
        <main class="container">

            <a href="/clientes/novo" class="btn btn-primary">Novo</a>
            <table class="table" id="tabclientes">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Sexo</th>
                        <th>Telefone</th>
                        <th>Endereço</th>
                        <th>Data de Nascimento</th>
                        <th>Altura</th>
                        <th>Idade</th>
                        <th>Peso</th>
                        <th>Alergia</th>
                        <th>Rotina</th>
                        <th>Dieta</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </main>
        <footer th:include="layout :: footer"></footer>
    </body>
</html>