<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
    <head th:include="layout :: head"></head>
    <link rel="stylesheet" href="/dieta.css">
    <body>
        <nav th:replace="layout :: menu"></nav>
        <main class="container">
            <header class="topo">
                <h1>Dieta</h1>
            </header>

            <div class="listadietas">
                <button type="button" class="dieta" th:each="umaDieta, stat : ${listaDietas}" th:id="${umaDieta.id}" th:user-id="${usuarioAtual.id}">
                    <h5 th:text="${umaDieta.nome}"></h5>
                    <h6 th:text="${umaDieta.id}"></h6>
                </button>
            </div>

            <div class="infodieta">
                <div class="headerdieta">
                    <th:block th:if="${umaDieta != null}">
                        <h5 th:text="@{'Nome: ' + ${umaDieta?.nome}}"></h5>
                        <h5 th:text="@{'Calorias: ' + ${umaDieta?.caloriaTotal}}"></h5>
                    </th:block>
                </div>
                <table class="table" id="customers" th:if="${umaDieta != null}">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Lista de Pratos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <!-- <tr th:each="umaDieta, stat : ${listaDietas}"> -->
                           

                            <td th:text="${umaDieta.nome}"></td>

                            <td th:text="${umaDieta.retornaPratos()}"></td>

                            <!-- <td th:text="${umaDieta.calorias}"></td>

                            <td th:text="${umaDieta.dataInicio}"></td> -->
                        </tr>
                    </tbody>
                </table>
                <td>
                    <a th:href="@{'/dieta/' + ${usuarioAtual.id} + '/selecionar/' + ${umaDieta?.id}} " class="btn btn-success">Selecionar Dieta</a>
                </td>
            </div>
            
            <div class="navbutton">
                <!-- <a th:href="@{'/rotina/novo/' + ${usuarioAtual.id}}" class="btn btn-info">Criar Rotina</a> -->
                <!-- <a th:href="@{${usuarioAtual.id} + '/rotina/novo/' + ${usuarioAtual.id}}" class="btn btn-info">Criar Rotina</a> -->
                <a th:href="@{'/home/' + ${usuarioAtual.id}}" class="btn btn-info">Voltar</a>
                <a th:href="@{'/dieta/' + ${usuarioAtual.id} + '/novo'}" class="btn btn-info">Criar Dieta</a>
                <a href="/prato" class="btn btn-info">Criar Prato</a> 
            </div>        
        </main>
        <footer th:include="layout :: footer"></footer>

        <script th:src="@{/dieta.js}"></script>
    </body>
</html>