<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
    <head th:include="layout :: head"></head>

    <link rel="stylesheet" href="/cinza.css">

    <body>
        <nav th:replace="layout :: menu"></nav>
        <main class="container">
            <form th:action="@{/cadastro/(form)}"
                method="POST" th:object="${usuario}">

                <input type="hidden" th:field="*{id}">

                <div class="form-group">
                    <label for="txtnome">Nome:</label>
                    <input type="text" th:field="*{nome}"
                        class="form-control" id="txtnome">
                    <p th:if="${#fields.hasErrors('nome')}"
                    th:errors="*{nome}"
                    class="alert alert-danger"></p>
                </div>
                <!-- <div class="form-group">
                    <label for="txtidade">Idade:</label>
                    <input type="number" th:field="*{idade}"
                        class="form-control" id="txtidade">
                    <p th:if="${#fields.hasErrors('idade')}"
                    th:errors="*{idade}"
                    class="alert alert-danger"></p>
                </div> -->
                <div class="form-group">
                    <label>Sexo:</label>
                    <select class="form-select" aria-label="Default select example" th:field="*{sexo}">
                        <option value="Masculino">Masculino</option>
                        <option value="Feminino">Feminino</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="txttelefone">Telefone:</label>
                    <input type="text" th:field="*{telefone}"
                        class="form-control" id="txttelefone">
                    <p th:if="${#fields.hasErrors('telefone')}"
                    th:errors="*{telefone}"
                    class="alert alert-danger"></p>
                </div>
                <div class="form-group">
                    <label for="txtendereco">Endereço:</label>
                    <input type="text" th:field="*{endereco}"
                        class="form-control" id="txtendereco">
                    <p th:if="${#fields.hasErrors('endereco')}"
                    th:errors="*{endereco}"
                    class="alert alert-danger"></p>
                </div>
                <div class="form-group">
                    <label for="txtDataNascimento">Data de Nascimento:</label>
                    <input type="date" th:field="*{dataNascimento}"
                        class="form-control" id="txtDataNascimento">
                    <p th:if="${#fields.hasErrors('dataNascimento')}"
                    th:errors="*{dataNascimento}"
                    class="alert alert-danger"></p>
                </div>
                <div class="form-group">
                    <label for="txtaltura">Altura (m):</label>
                    <input type="number" step="any" th:field="*{altura}"
                        class="form-control" id="txtaltura">
                    <p th:if="${#fields.hasErrors('altura')}"
                    th:errors="*{altura}"
                    class="alert alert-danger"></p>
                </div>
                <div class="form-group">
                    <label for="txtpeso">Peso (kg):</label>
                    <input type="number" step="any" th:field="*{peso}"
                        class="form-control" id="txtpeso">
                    <p th:if="${#fields.hasErrors('peso')}"
                    th:errors="*{peso}"
                    class="alert alert-danger"></p>
                </div>
                <div class="form-group">
                    <label>Possui alergia ou intolerância?</label>

                    <div id="radiodiv">
                        <input type="radio" name="yes_no" th:field="*{alergico}" value="true" id="sim" class="radiosim"></input>
                        <label for="sim">Sim</label>
                        <br>
                        <input type="radio" name="yes_no" th:field="*{alergico}" value="false" id="nao" checked class="radionao"></input>
                        <label for="nao">Não</label>
                    </div>

                    <div class="checkbox" id="alergiaCheck">
                        <label>Selecione quais:</label>
                        <div class="form-check" th:unless="${alergico}">
                            <input class="form-check-input" type="checkbox" value="Lactose" th:field="*{alergia}" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Lactose
                            </label>
                        </div>
                        <div class="form-check" th:unless="${alergico}">
                            <input class="form-check-input" type="checkbox" value="Glúten" th:field="*{alergia}" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Glúten
                            </label>
                        </div>
                        <div class="form-check" th:unless="${alergico}">
                            <input class="form-check-input" type="checkbox" value="Amendoim" th:field="*{alergia}" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Amendoim
                            </label>
                        </div>
                    </div>
                </div>

                <br>

                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </main>
        <footer th:include="layout :: footer"></footer>
        <script th:src="@{/cadastro.js}"></script>
    </body>
</html>