<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
    <head th:include="layout :: head"></head>

    <body>
        <nav th:replace="layout :: menu"></nav>

        <main class="container">
            <form th:action="@{/rotina/(inctreinorotina)}" method="POST" th:object="${novaRotina}">

                <input type="hidden" th:field="${novaRotina.id}">

                <div class="form-group">
                    <label for="txtnome">Nome:</label>
                    <input type="text" th:field="${novaRotina.nome}" class="form-control" id="txtnome">
                </div>

                <div class="form-group">
                    <label for="txtcalorias">Calorias:</label>
                    <input type="number" th:field="${novaRotina.calorias}" class="form-control" id="txtcalorias">
                </div>

                <div class="form-group">
                    <label for="txtduracao">Data de Início:</label>
                    <!-- <input type="date" th:field="${novaRotina.dataInicio}" class="form-control" id="txtduracao"> -->
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Treinos da Rotina
                        </h5>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Treino</th>
                                    <th>Séries</th>
                                    <th>Repetições</th>
                                    <th>Intensidade</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr th:each="umTreino, stat : ${novaRotina.listaTreinos}">
                                    <td th:text="${umTreino.exercicio?.nome}"></td>
                                    <input type="hidden" th:field="${novaRotina.listaTreinos[__${stat.index}__].exercicio.nome}">

                                    <td th:text="${umTreino.serie}"></td>
                                    <input type="hidden" th:field="${novaRotina.listaTreinos[__${stat.index}__].serie}">

                                    <td th:text="${umTreino.repeticoes}"></td>
                                    <input type="hidden" th:field="${novaRotina.listaTreinos[__${stat.index}__].repeticoes}">

                                    <td th:text="${umTreino.Intensidade}"></td>
                                    <input type="hidden" th:field="${novaRotina.listaTreinos[__${stat.index}__].Intensidade}">
                                </tr>
                            </tbody>
                        </table>
                
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Adicionar treinos a Rotina
                                </h5>

                                <div class="form-group">
                                    <label for="cbtreino">Treino:</label>
                                    <select class="form-select" id="cbtreino" th:field="${novaRotina.treinoSelecionado}">
                                        <option th:each="umTreino : ${listaTreinos}"
                                            th:value="${umTreino.id}"
                                            th:text="${umTreino.exercicio.nome}">
                                        </option>
                                    </select>

                                    <button type="submit" name="inctreinorotina" class="btn btn-primary">Adicionar Treino</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" name="save"
                class="btn btn-primary">Enviar</button>
            </form>
        </main>

        <footer th:include="layout :: footer"></footer>
    </body>
</html>