<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
    <head th:include="layout :: head"></head>
    <link rel="stylesheet" href="/rotina.css">
    <body>
        <nav th:replace="layout :: menu"></nav>
        <main class="container">
            <header class="topo">
                <h1>Rotina</h1>
            </header>
            <div class="listarotinas">
                <a href="/exercicio" class="btn btn-info">Criar Rotina</a>
                <a href="/rotina/novo" class="btn btn-info">Criar Treino</a>
                <a href="/exercicio" class="btn btn-info">Criar Exercício</a>
            </div>

            <div class="inforotina">
                Informações da rotina
            </div>       
        </main>
        <footer th:include="layout :: footer"></footer>
    </body>
</html>