<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
    <head th:include="layout :: head"></head>
    <link rel="stylesheet" href="/rotina.css">
    <body>
        <nav th:replace="layout :: menu"></nav>
        <main class="container">
            <header class="topo">
                <h1>Rotina</h1>
            </header>
            <div class="listarotinas">
                <!-- <a th:href="@{'/rotina/novo/' + ${usuarioAtual.id}}" class="btn btn-info">Criar Rotina</a> -->
                <!-- <a th:href="@{${usuarioAtual.id} + '/rotina/novo/' + ${usuarioAtual.id}}" class="btn btn-info">Criar Rotina</a> -->
                <a th:href="@{${usuarioAtual.id} + '/novo'}" class="btn btn-info">Criar Rotina</a>
                <a href="/exercicio" class="btn btn-info">Criar Exercício</a>
                <a href="/treino" class="btn btn-info">Criar Treino</a> 
                <a th:href="@{'/home/' + ${usuarioAtual.id}}" class="btn btn-info">Voltar</a>              
            </div>

            <div class="inforotina">
                Informações da rotina
                <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nome</th>
                            <th>lista de treinos</th>
                            <th>Tempo total</th>
                            <th>Calorias</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="umaRotina, stat : ${listaRotinas}">
                            <td>
                                <a th:href="@{${usuarioAtual.id} + '/selecionar/' + ${umaRotina.id}} " class="btn btn-info">Selecionar Rotina</a>
                            </td>

                            <td th:text="${umaRotina.nome}"></td>
                            <!-- <input type="hidden" th:field="${umaRotina.nome}"> -->

                            <td th:text="${umaRotina.retornaTreinos()}"></td>

                            <!-- <td th:text="${umaRotina.listaTreinos[__${stat.index}__].exercicio.nome}"></td> -->

                            <!-- <td th:each="umaRotina, stat : ${listaRotinas}"
                                th:text="${umaRotina.listaTreinos[__${stat.index}__].exercicio}"></td> -->

                            <!-- <td th:each="umaRotina, stat : ${listaRotinas}"
                                th:text="${umaRotina.listaTreinos[__${stat.index}__].exercicio}">
                            </td> -->

                            <!-- <th:block th:each="umaRotina, stat : ${listaRotinas}">
                                <td th:text="${umaRotina.listaTreinos[__${stat.index}__].exercicio.nome}"></td>
                            </th:block> -->

                            <!-- <td th:each="umaRotina, stat : ${listaRotinas}">
                                <p th:text="${umaRotina.listaTreinos[__${stat.index}__].exercicio.nome}"></p>
                            </td> -->
                        
                            <!-- <td>
                                <th:block th:each="umaRotina, stat : ${listaRotinas}">
                                    <p th:text="${umaRotina.listaTreinos[__${stat.index}__].exercicio.nome}"></p>
                                </th:block>
                            </td> -->

                            <!-- <input type="hidden" th:field="${umaRotina.listaTreinos[__${stat.index}__].exercicio.nome}"> -->

                            <td th:text="${umaRotina.tempo}"></td>
                            <!-- <input type="hidden" th:field="${novaRotina.tempo}"> -->

                            <td th:text="${umaRotina.calorias}"></td>
                            <!-- <input type="hidden" th:field="${novaRotina.calorias}"> -->
                        </tr>
                    </tbody>
                </table>
            </div>       
        </main>
        <footer th:include="layout :: footer"></footer>
    </body>
</html>