<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
    <head th:include="layout :: head"></head>

    <body>
        <nav th:replace="layout :: menu"></nav>
        <main class="container">
            <div class="listarotinas">
                lista de rotinas
            </div>

            <div class="inforotina">
                informações da rotina
            </div>       
        </main>
        <footer th:include="layout :: footer"></footer>
    </body>
</html>