<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
    <head th:include="layout :: head"></head>

    <link rel="stylesheet" href="style.css">
    
    <body>
        <nav th:replace="layout :: menu"></nav>
        <main class="container">
                <header class="topo">
                    <h1>Home</h1>
                </header>
                <nav class="barra">
                    <tr th:each="umUsuario : ${listaUsuarios}">
                    <a th:href="@{'cadastro/alterar/' + ${umUsuario.id}}" class="btn btn-info">Editar perfil</a>
                    </tr>
                    <a class="btn btn-info" href="#">Alguma coisa</a>
                    <a class="btn btn-info" href="#">Alguma coisa</a>
                    
                </nav>
                <div class="usuario">
                    <table class="table" id="tabnomeusuario">
                        <thead>
                            <tr>
                                <th>Nome</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="umUsuario : ${listaUsuarios}">
                                
                                <td th:text="${umUsuario.nome}"></td>
                                
                            </td>                     
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="infousuario">
                    <table class="table" id="tabusuario">
                        <thead>
                            <tr>
                                <th>Sexo</th>
                                <th>Telefone</th>
                                <th>Endereço</th>
                                <th>Data de Nascimento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="umUsuario : ${listaUsuarios}">
                                <td th:text="${umUsuario.sexo}"></td>
                                <td th:text="${umUsuario.telefone}"></td> 
                                <td th:text="${umUsuario.endereco}"></td>
                                <td th:text="${#dates.format(umUsuario.dataNascimento, 'dd/MM/yyyy')}"></td>  
                            <tr>
                        </tbody>
                        <thead>
                                <th>Altura</th>
                                <th>Idade</th>
                                <th>Peso</th>
                                <th>Alergia</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="umUsuario : ${listaUsuarios}">
                                <td th:text="${umUsuario.altura}"></td>
                                <td th:text="${umUsuario.idade}"></td> 
                                <td th:text="${umUsuario.peso}"></td>
                            </tr>
                        </tbody>  
                    </table>
                </div>
                <div class="rotina">
                    <a class="btn btn-info" href="/rotina">Adicionar Rotina</a>
                </div>
                <div class="dieta">
                    <a class="btn btn-info" href="/dieta">Adicionar Dieta</a>
                </div>
            </main>
         <footer th:include="layout :: footer"></footer>
    </body>
</html>